<%= render "shared/header" %>
  <div class='title-contents'>
    <h2 class='service-title'>
      メッセージアプリを1つに！！
    </h2>
    <p class='service-explain'>
      MESSAGEGROUPは様々なシチュエーションで活躍する
    </p>
    <p class='service-explain'>
      メッセージアプリです
    </p>
    </div>
  </div>

  <div class='select-reason-contents'>
    <h2 class='title'>
      ユウキさんのMESSAGEGROUP
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>3分</span>
          ですぐに出品
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に出品できる！
        </p>
      </li>
      <li class='list'>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>シンプル</span>
          で使いやすい
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class='list'>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          手数料
          <span class='reason-list-blue-text'>業界最安</span>
        </h3>
        <p class='reason-list-description'>
          10%でお得に出品&購入！
        </p>
      </li>
    </ul>
  </div>

<%= render "shared/footer" %>